[DEFAULT]
database = ./db.sqlite
superuser-password = INSERT_SUPERUSER_PASSWORD_HERE

[scanner-client]
reset-barcode = 123456789
barcode-device = /dev/input/by-path/pci-0000:00:14.0-usb-0:2:1.0-event-kbd
rfid-device = /dev/input/by-path/pci-0000:00:1a.0-usb-0:1.2:1.0-event-kbd
api-url = http://localhost:5000
debug = 1
