[DEFAULT]
database = ./db.sqlite
superuser-password = INSERT_SUPERUSER_PASSWORD_HERE
api-url = http://localhost:5000

[scanner-client]
barcode-device = /dev/input/by-path/pci-0000:00:14.0-usb-0:2:1.0-event-kbd
rfid-device = /dev/input/by-path/pci-0000:00:1a.0-usb-0:1.2:1.0-event-kbd
debug = 1
espeak-call = /usr/bin/espeak "{msg}"
play-call = /usr/bin/aplay -r 48000 -c 1 -f S16_LE "{wav}"
1-eur-code = 123456789
5-eur-code = 223456789
10-eur-code = 323456789
20-eur-code = 423456789
50-eur-code = 523456789
